@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: #f5f6fa;
  color: #374151;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
